/* Navbar */
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.95;
}

/* Utilities */
.container-body {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;

  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Image */
.large-image {
  position: relative;
  max-height: 12vh;
  max-width: 40vw;
  width: auto;
  height: auto;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container-body {
    margin-top: 6rem;
  }

  .hide-content {
    display: none !important;
  }

  .show-content {
    display: block !important;
  }

  .float-mobile {
    display: block;
    float: none !important;
    text-align: center;
  }

  .center-mobile {
    text-align: center;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/landing.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Theme Color */

.label.red-label {
  background-color: #b82601;
  color: white;
}

.segment.red-segment {
  background-color: #b82601;
  color: white;
}

.button.red-button {
  background-color: #b82601;
  color: white;
}

.button.red-button:hover {
  background-color: #aa2200;
  color: white;
}

.button.red-button:focus {
  background-color: #b82601;
  color: white;
}

.red-text {
  color: #b82601;
}

.white-text {
  color: white;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.button.left-text {
  text-align: left;
}

.padding-text {
  padding: 0.2rem;
}

.module-padding {
  padding: 1.5rem;
}

.grey-text {
  color: grey;
}

.float-mobile {
  float: right;
}

input[type='range'] {
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
  -webkit-appearance: none;
}
input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #b82601;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50rem;
  height: 1em;
  width: 1em;
  cursor: pointer;
  background: #570000;
  box-shadow: -87px 0 0 80px #b82601;
}

/* .hide-content {
  display: block !important;
} */

/* .show-content {
  display: none !important;
} */

.one.wide.column.remove-padding {
  padding-right: 0;
}

.four.wide.column.remove-padding {
  padding-right: 0;
}

.invisible-button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0%;
}
.invisible-button:focus {
  outline: none;
}

.invisible-button:active {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0%;
}

.red-link {
  color: #b82601;
}

.red-link:hover {
  color: #aa2200;
}

.white-link {
  color: white;
}

.white-link:hover {
  color: #e7e7e7;
}

.ui .segment .invisible-segment {
  border: none;
  box-shadow: none;
}

.red-background {
  background: url('./img/background.jpg') repeat center center/cover;
  /* background-color: #e74c3c; */
  min-height: 100%;
  min-width: 100%;
  margin-top: 0rem;
  position: absolute;
}

.module-picture {
  background: url('./img/landing.jpg') no-repeat center center/cover;
  height: 20vh;
  position: relative;
}

.picture-container {
  /* background: url('./img/nuslogo.jpg') no-repeat center center/cover; */
  height: 40vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* border: 2px #b82601; */
}

.university-picture {
  width: 100%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Form */
.form-center {
  /* color: #b82601; */
  height: 100%;
  width: 60%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  width: 100vw;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-position {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* center page */
.center-page {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Position */
.fixed-position {
  position: absolute;
}

/* .hide-buttonB {
  opacity: 0;
}
.hide-buttonB:hover {
  opacity: 100%;
  display: block;
} */
/* .hide-buttonA:hover + .hide-buttonB {
  display: block;
} */

/* .splitscreen {
  display: flex;
}

.splitscreen .hide-buttonB {
  flex: 2;
}

.splitscreen .hide-buttonA {
  flex: 1;
}  */
